@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background: url("../imagens/fundo-madeira.jpg")no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("../imagens/frame-iphone.png")no-repeat;
    
    height: 627px;
    width: 311px;
    transform: translate(-50%, -50%);
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: solid 2.4px rgba(255, 255, 255, 0.696);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.611);
    transition: transform .1s,border .3s;
}